*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.box{
    width: 200px;
    height: 200px;
    background-color: brown;
    margin: 20px 30px 40px 50px;
    padding: 30px 20px 10px 50px;
}